{% extends "AiesecTaskListBundle::layout.html.twig" %}

{% block title "Tasks" %}

    {% block body %}
        <h1 class="title">Tasks List</h1>

        {%  if (form is defined) %}
            <form action="{{ url('post_tasks') }}" method="POST" {{ form_enctype(form) }}>

                {% include 'AiesecTaskListBundle:Task:form.html.twig' %}

                {{ form_rest(form) }}

                <input type="submit" value="New Task">
            </form>
        {% endif %}

    {% endblock %}

